<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="8" name="Suite" parallel="methods">
  <test thread-count="8" name="Test" parallel="methods">
    <classes>
      <class name="WPRL_Application.WPRL"/>
      <class name="WaterfallApplications.WRTT"/>
      <class name="WCRV_Application.WCRV"/>
      <class name="Soap_Execution.ADAT"/>
      <class name="CXS_Support.USRC_FDM"/>
      <class name="WDPA_Application.WDPA_SmokeTest"/>
      <class name="CXS_Support.USRC_General"/>
      <class name="WDPA_Application.WDPA"/>
      <class name="Mission_Critical.WFCL_SmokeTest"/>
      <class name="Mission_Critical.MC_PI_3"/>
      <class name="SupportClasses.Create_Accounts"/>
      <class name="Mission_Critical.WFCL"/>
      <class name="Mission_Critical.WIDM_SmokeTest"/>
      <class name="CXS_Support.MFAC_Helper_Functions"/>
      <class name="WaterfallApplications.OADR"/>
      <class name="Mission_Critical.MC_PI_1"/>
      <class name="Mission_Critical.MC_PI_2"/>
      <class name="CXS_Support.PRDC_General"/>
      <class name="Mission_Critical.WIDM_SOAPClient"/>
      <class name="Mission_Critical.WFCL_New"/>
      <class name="Mission_Critical.WFCL_ALL_CCEnroll"/>
      <class name="AgileApplications.MFAC"/>
      <class name="Mission_Critical.WIDM"/>
      <class name="SupportClasses.Account_Lookup"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
